main{
    width: 90%;
    margin: 0 auto;
}
.first-row{
    background-color: #EEEEEE;
    text-align: center;
    margin: 0 auto ;
    margin-bottom: 3px;
}
.second-row{
    display: flex;
}
.box-left{
    background-color: #7EE5DA;
    text-align: center;
    width: 50%;
    margin-right: 3px;
    font-size: 17px;
    padding: 7px;
}
.box-center{
    background-color: #70CCC2;
    text-align: center;
    width: 24%;
    padding: 6px;
    margin-right: 3px;
    font-size: 13px;
}
.box-right{
    background-color: #62B3AA;
    text-align: center;
    width: 61%;
    font-size: 13px;
}
footer{
    text-align: center;
    font-size: 13px;
    margin-top: 17px;
}