.img { 
    text-align: center;
}

#search {
    text-align: center;
    background-color: #eeee;
    margin: 0 4.3rem;
}

.container {
    display: flex;
}

#left-box {
    background-color: #7EE5DA;
    font-size: 1rem;
    width: 33.1%;
    height: 4rem;
    text-align: center;
    padding-top: 0.60rem;
    margin-left: 4.3rem;
    margin-top: 0.15rem;
    height: auto;
}

#center-box {
    text-align: center;
    background-color: #70ccc2;
    width: 18%;
    font-size: 0.80rem;
    padding-top: 0.5rem;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
}

#right-box {
    background-color: #62b3aa;
    width: 37.3%;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    font-size: 0.80rem;
    text-align: center;
    padding-top: 0.40rem;
    padding-bottom: 0.1rem;
}

#footer {
    text-align: center;
    font-size: small;
} 